[*.cs]
indent_size = 4
trim_trailing_whitespace = true

dotnet_style_qualification_for_field = true:warning
dotnet_style_qualification_for_property = true:warning
dotnet_style_qualification_for_method = true:warning

dotnet_style_readonly_field = true:warning

dotnet_style_require_accessibility_modifiers  = always:warning